@import "tailwindcss";

:root {
    --primary: #003d9b;
    --primary-container: #0052cc;
    --background: #f8f9ff;
    --surface-highest: #d7e2ff;
    --surface-low: #f1f3ff;

    --slate-dark: #04133c;
    --slate-mid: #4f5f7b;
    --slate-light: #C3C6D6;


    --success: #7ce8b3;
    --error: #d11c1c;
    --warning: #ffbb00;

    --muted: #434654 --radius-base: 4px;
    --radius-ratio: 2;

    --font-family: Inter
}

@theme {
    --color-primary: var(--primary);
    --color-primary-container: var(--primary-container);
    --color-surface-highest: var(--surface-highest);
    --color-surface-low: var(--surface-low);
    --color-background: var(--surface-low);

    --color-slate-dark: var(--slate-dark);
    --color-slate-mid: var(--slate-mid);
    --color-slate-light: var(--slate-light);

    --color-success: var(--success);
    --color-error: var(--error);
    --color-warning: var(--warning);

    --color-muted: var(--mutted) --radius-xs: calc(var(--radius-base) * 0.5);
    --radius-sm: calc(var(--radius-base));
    --radius-md: calc(var(--radius-base) * var(--radius-ratio));
    --radius-lg: calc(var(--radius-base) * var(--radius-ratio) * 1.5);
    --radius-xl: calc(var(--radius-base) * var(--radius-ratio) * 2);

    --shadow-sm: 0 1px 2px rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 12px rgb(0 0 0 / 0.08);
    --shadow-lg: 0 10px 30px rgb(0 0 0 / 0.12);

    --font-family: var(--font-family);
}


.display-lg {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    color: var(--color-slate-dark);
    line-height: 56px;
    letter-spacing: -2.8px;
    vertical-align: middle;
}

.headline-lg {
    font-weight: 600;
    font-style: Semibold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.title-md {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.body-md {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: var(--color-slate-mid);
    line-height: 22.75px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.label-sm {
    font-weight: 700;
    font-style: Bold;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 1.1px;
    vertical-align: middle;
    text-transform: uppercase;
}

.global-icon {
    fill: currentColor;
    transition: all 0.3s ease;
    display: inline-block;
}


.global-icon:hover {
    opacity: 0.8;
}